{{ define "header" }}

{{ end }}

{{ define "main" }}
  <section>
    <h1 class=" text-3xl uppercase ">The home of English heritage</h1>
    <p>
      Somewhere where one can go to learn about our heritage and to find others
      that share an interest. We work to connect those with a interest in
      learning and those with knowledge to share. A genuine and forthright
      place.
    </p>
    <button>Foremost</button>
    <button>Othermost</button>
  </section>
  <section>
    <h1>Latest utterings</h1>
  </section>
{{ end }}

{{ define "footer" }}

{{ end }}
