:root {
  /* Blue */
  --sea-5: 211deg 100% 5%;
  --sea-10: 212deg 100% 14%;
  --sea-20: 205deg 93% 16%;
  --sea-30: 206deg 89% 25%;
  --sea-40: 209deg 81% 35%;
  --sea-50: 214deg 62% 50%;
  --sea-60: 215deg 66% 58%;
  --sea-70: 219deg 75% 70%;
  --sea-80: 215deg 81% 81%;
  --sea-90: 206deg 96% 91%;
  --sea-95: 207deg 90% 96%;

  /* Green */
  --land-5: 118deg 86% 6%;
  --land-10: 118deg 88% 13%;
  --land-20: 128deg 86% 16%;
  --land-30: 127deg 89% 21%;
  --land-40: 121deg 46% 30%;
  --land-50: 125deg 55% 38%;
  --land-60: 133deg 48% 52%;
  --land-70: 133deg 72% 67%;
  --land-80: 129deg 80% 88%;
  --land-90: 137deg 91% 91%;
  --land-95: 139deg 80% 96%;

  /* Red */
  --blood-5: 351deg 87% 6%;
  --blood-10: 351deg 87% 15%;
  --blood-20: 343deg 90% 20%;
  --blood-30: 345deg 85% 28%;
  --blood-40: 347deg 77% 42%;
  --blood-50: 350deg 74% 52%;
  --blood-60: 355deg 95% 68%;
  --blood-70: 352deg 97% 77%;
  --blood-80: 353deg 100% 89%;
  --blood-90: 353deg 100% 92%;
  --blood-95: 357deg 100% 96%;

  /* Yellow */
  --gold-5: 27deg 96% 6%;
  --gold-10: 30deg 95% 18%;
  --gold-20: 32deg 94% 25%;
  --gold-30: 34deg 93% 33%;
  --gold-40: 37deg 92% 42%;
  --gold-50: 40deg 87% 52%;
  --gold-60: 42deg 96% 60%;
  --gold-70: 44deg 96% 70%;
  --gold-80: 45deg 97% 85%;
  --gold-90: 48deg 100% 89%;
  --gold-95: 48deg 100% 96%;

  /* Cream */
  --ream-5: 14deg 93% 5%;
  --ream-10: 18deg 68% 11%;
  --ream-20: 21deg 50% 18%;
  --ream-30: 25deg 50% 28%;
  --ream-40: 26deg 53% 37%;
  --ream-50: 24deg 38% 50%;
  --ream-60: 27deg 52% 66%;
  --ream-70: 29deg 50% 80%;
  --ream-80: 34deg 81% 90%;
  --ream-90: 39deg 100% 91%;
  --ream-95: 39deg 100% 96%;

  /* Purple */
  --welc-5: 308deg 90% 6%;
  --welc-10: 308deg 93% 11%;
  --welc-20: 312deg 50% 17%;
  --welc-30: 318deg 50% 27%;
  --welc-40: 321deg 52% 37%;
  --welc-50: 325deg 38% 50%;
  --welc-60: 325deg 52% 66%;
  --welc-70: 330deg 65% 80%;
  --welc-80: 334deg 88% 90%;
  --welc-90: 334deg 100% 91%;
  --welc-95: 333deg 100% 96%;

  /* Grey */
  --grey-5: 0deg 0% 5%;
  --grey-10: 0deg 0% 10%;
  --grey-20: 0deg 0% 20%;
  --grey-30: 0deg 0% 30%;
  --grey-40: 0deg 0% 40%;
  --grey-50: 0deg 0% 50%;
  --grey-60: 0deg 0% 60%;
  --grey-70: 0deg 0% 70%;
  --grey-80: 0deg 0% 80%;
  --grey-90: 0deg 0% 90%;
  --grey-95: 0deg 0% 95%;

  --black: 0deg 0% 0%;
  --white: 0deg 100% 100%;
}
