---
import DyewiseToggle from "@components/dyewise-toggle.svelte";
import Footer from "@components/footer.svelte";
import Steer from "@components/steer/steer.svelte";
import Header from "@components/header.svelte";

import "@css/dye.css";
import "@css/main.css";
import "@css/fonts/inter.css";
import "@css/fonts/vollkorn.css";
import "@css/fonts/junicode.css";
import Ridge from "@components/steer/ridge.svelte";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css" rel="stylesheet" />

    <title>{title}</title>
    <script is:inline>
      const wise = localStorage.getItem("dyewise");
      if (
        wise === "dark" ||
        (wise === "system" &&
          window.matchMedia("(prefers-color-scheme:dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>

  <body
    class="min-h-fit bg-gradient-to-br from-ream-90 to-ream-70 text-ream-5 dark:text-grey-80"
  >
    <!-- <div
      class="relative grid h-screen grid-cols-cover-sm overflow-hidden transition-[grid-template-columns] duration-500 lg:grid-cols-cover-lg"
    > -->
    <Ridge client:only />
    <main
      id="main"
      class="relative min-h-full max-w-screen-xl overflow-x-hidden"
    >
      <Header />
      <slot />
      <Footer />
    </main>
    <!-- </div> -->
  </body>

  <style is:global>
    .marcle {
      @apply fill-grey-20 transition-colors duration-200 ease-in hover:fill-blood-30;
    }
    .marcle-on-dark {
      @apply fill-grey-90 transition-colors duration-200 ease-in hover:fill-gold-50;
    }
    .uicase {
      @apply -mb-[0.15em] uppercase leading-none;
    }
  </style>
</html>
