---
import DyewiseToggle from "@components/dyewise-toggle.svelte";
import Footer from "@components/footer.svelte";
import Ridge from "@components/ridge.svelte";
import "../css/main.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const wise = localStorage.getItem("dyewise");
      if (
        wise === "dark" ||
        (wise === "system" &&
          window.matchMedia("(prefers-color-scheme:dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>

  <body
    class="min-h-fit bg-gradient-to-br from-ream-90 to-ream-70 text-ream-5 dark:text-grey-80"
  >
    <div class="relative grid h-screen grid-cols-desktop overflow-hidden">
      <Ridge>
        <DyewiseToggle client:only />
      </Ridge>
      <div id="content-window" class="overflow-y-scroll">
        <main class="min-h-full">
          <slot />
          <Footer />
        </main>
      </div>
    </div>
  </body>

  <style is:global>
    .marcle {
      @apply fill-grey-20 transition-colors duration-200 ease-in hover:fill-blood-30;
    }
    .marcle-on-dark {
      @apply fill-grey-90 transition-colors duration-200 ease-in hover:fill-gold-50;
    }
    html {
      @apply font-body;
    }
  </style>
</html>
